.advantages {
    background-image: url('../img/desktop/advantages-bg.jpg');
    background-repeat-y: no-repeat;
    padding-bottom: 132px;

    .section-header {
        margin-bottom: 96px;
    }

    &-card {
        margin-top: 72px;

        .h2 {
            line-height: 105%;
            margin-bottom: 24px;
        }

        .p {
            line-height: 1.2;
        }
    }
}