.contacts {
    background-image: url('../img/desktop/contacts-bg.jpg');
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: right center;
    
    &-content {
        background-color: #F2F6F7;
        // margin-top: 229px;
        padding-top: 43px;
        // padding-left: 22.67515923566879%;
        padding-left: 9.5vw;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.21);

        .h3 {
            margin-bottom: 22px;
            line-height: 1.2;
        }

        .p,
        a {
            margin-bottom: 12px;
            line-height: 1.2;
        }

        a {
            font-size: 24px;
            color: $text;
        }

        .button {
            max-width: 18.125em;
            margin-top: 55px;
            margin-bottom: 37px;
        }
    }
}