.feedback {
    background-image: url('../img/desktop/feedback-photo.jpg');
    background-repeat: no-repeat;
    background-size:58.2% 100% ;
    background-position: right center;
    .section-header {
        padding-top: 36px;
        padding-left: 20.38216560509554%;
        padding-right: 8.808917197452229%;
        padding-bottom: 47px;
        margin-bottom: 0;

        .h2 {
            font-size: 28px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
    }

    &-form {
        width: 57.32484076433121%;
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
        .form-control {
            width: 100%;
            margin-bottom: 26px;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 22px;
            border-color: rgba(0, 0, 0, 0.3);
        }

        .button {
            width: 100%;
            margin-top: 42px;
            margin-bottom: 27px;
        }

        .form-check-label {
            font-size: 12px;
            margin-bottom: 49px;
        }
    }

    .decor-column {
        background-repeat: no-repeat;
        background-size: cover;
    }
}