.footer {
    background-color: $accent;
    padding-top: 113px;
    padding-bottom: 113px;

    a:hover {
        color: #F7F7F7;
    }

    .p {
        font-weight: bold;
        font-size: 21px;
        line-height: 31px;
        color: #F7F7F7;
        margin-left: 32px;
        margin-bottom: 0;
    }

    &-links {
        margin-top: 40px;
    }

    &-link {
        font-weight: bold;
        // font-size: 21px;
        line-height: 27px;
        color: #F7F7F7;

    }
}