.header {
    background-image: url('../img/desktop/header-background.jpg');
    background-repeat: no-repeat;
    background-position-y: right;
    background-size: cover;
    color: #F7F7F7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.16);
    @import "./navbar";

    .h1 {
        margin-bottom: 34px;
    }

    &_list {
        padding-left: 0;
        margin-bottom: 60px;
    }

    &_list_item {
        font-weight: bold;
font-size: 21px;
line-height: 27px;
text-transform: uppercase;

color: #F7F7F7;
margin-top: 1rem;
margin-bottom: 1rem;

text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12);
    }

    .p {
        font-size: 21px;
        font-weight: bold;
        margin-top: 28px;
        margin-bottom: 94px;
    }

    .button {
        max-width: 18.125em;
       display: flex;
       justify-content: center;
       align-items: center;
        margin-top: 24px;
        // margin-bottom: 340px;

        &:hover {
            color: $white;
        }
    }
}