@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
    .h2 {
        font-size: 1.5em;
    }
    .p {
        font-size: 1em;
    }
	.cost {
        .h2 {
            margin-top: 68px;
        }

        .p:before {
            top: 15px;
            left: -33px;
            width: 6px;
            height: 135px;
        }
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    .examples {
        .section-header .h2 {
            font-size: 1rem;
        }
    }

    .examples-slide {
        margin-top: calc(-94px - 85px);
    }

    .advantages .section-header {
        margin-bottom: 0px;
    }

    .footer {
        background-position-x: center;

    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header {
        .navbar-nav {
            .nav-item {
                margin-top: 15px;
                margin-bottom: 15px;
                text-align: right;
    
                &:last-child .nav-link {
                    margin-right: 3.46875vw;
                }
            }
        }
    }

    .objects-logo {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .cost .p:before {
        top: -5px;
    }

    .examples {
        &-control {
            margin-left: 0;
            width: 100%;
        }
    }

    .footer {
        &-contacts {
            a {
                font-size: 18px;
            }

            .button {
                max-width: 12.125em;
            }
        }
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .h1 {
        font-size: 28px;
    }

    .header {
        .navbar {
            .img-responsive.img-width {
                width: 215px;
            }
        }
    }

    .cost .slide {
        margin-top: 67px;
        margin-bottom: 69px;
    }

    .services {
        padding-bottom: 50px;
    }

    .examples {
        &-slide {
            margin-top: calc(-94px - 101px);
        }

        &-control {
            .control-button {
                font-size: 13px;
            }
        }
    }

    .portfolio {
        padding-top: 70px; 
    }

    .workflow {
        padding-bottom: 0px;
    }
    .feedback {
        &-form {
            width: 100%;
        }
    }

    .footer {
        background-position-x: -900px;
        background-position-y: -170px;
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
