.objects-map {
    background-image: url('../img/desktop/Map_block-bg.jpg');
    background-repeat: no-repeat;
    padding-top: 216px;
    padding-bottom: 216px;

    &-card {
        background-color: #fff;
        padding: 30px;
        text-align: center;

        .h2 {
            border: 5px solid $red;
            padding-left: 17px;
            padding-right: 17px;
            padding-top: 63px;
            padding-bottom: 62px;
            line-height: 1.2;
        }
    }
}