.objects-map {
    background-image: url('../img/desktop/Map_block-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // padding-top: 216px;
    padding-bottom: 514px;

    
}