.portfolio {
    // padding-top: 147px;
    padding-bottom: 147px;

    &-card {
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);

        &-first {
            max-height: 450px;
            border-style: solid;
            border-width: 6px;
            border-color: #E52B2B;
            box-shadow: none;
            padding: 20px;

            .h2 {
                // margin-top: 137px;
                margin-bottom: 16px;
                line-height: 1.35;
            }

            .p {
                // margin-bottom: 137px;
                line-height: 1.35;
            }
        }

        &-last {
            max-height: 450px;
            border-style: solid;
            border-width: 6px;
            border-color: #F8C63E;
            box-shadow: none;
            padding: 20px;

            .h2 {
                // margin-top: 98px;
                margin-bottom: 16px;
                line-height: 1.35;
            }

            .p {
                // margin-bottom: 46px;
                line-height: 1.35;
            }
        }

        .button {
            // margin-bottom: 89px;
            max-width: 18.125em;
        }

        &-description {
            width: 100%;
            position: absolute;
            top: 40%;
            bottom: 0;
            color: #F7F7F7;
            font-size: 1.5rem;
            padding-left: 32px;

            background-image: linear-gradient(to top, #282828, rgba(43, 43, 43, 0.027));

            .p {
                line-height: 1.2;
            }
        }

        &-link {
            position: absolute;
            bottom: 0;
            color: $text;
            font-size: 24px;
            font-weight: bold;
            padding-left: 5.777777777777778%;
            padding-top: 5.555555555555556%;
            padding-bottom: 5.555555555555556%;
            background-color: #F8C63E;
            width: 100%;
            text-align: left;
            text-decoration: underline;
            border: #F8C63E;


            &:hover {
                color: $text;
            }
        }
    }

}