.services {
    padding-bottom: 210px;

    .srv-icon {
        margin-bottom: 16px;

    }


    .flipcard {

        .front {
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        }

        .back {
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
        }
    }

}