.smart-home {
    background-image: url('../img/desktop/advantages-bg.jpg');
    background-size: contain;
    overflow: auto;

    .section-header {
        margin-bottom: 0;
    }

    .control-button {
        width: 100%;
        height: 105px;
        font-weight: bold;
        font-size: 24px;
        line-height: 0px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:active {
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__card {
        margin-top: 121px;
        margin-bottom: 121px;
    }

    &__list {

        &__item {
            list-style-image: url('../img/icons/list-marker.svg');
            margin-top: 40px;
            margin-bottom: 40px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            padding-left: 38px;
        }
    }

    &__ipad {
        position: relative;
        .info__dot {
            position: absolute;
            width: 1.625rem;
            height: 1.625rem;
            background-image: url('../img/icons/Dot.svg');

            &:hover {
                cursor: pointer;
            }

            &-1 {
                top: 160px;
                left: 45%;
            }

            &-2 {
                top: 337px;
                left: 40.25%;
            }

            &-3 {
                top: 471px;
                left: 82.875%;
            }

            &-4 {
                top: 168px;
                left: 83%;
            }

            &-5 {
                top: 229px;
                left: 53.6%;
            }

            &-6 {
                top: 357px;
                left: 12%;
            }

            &-7 {
                top: 357px; 
                left: 78.85%;
            }

            &-8 {
                top: 457px;
                left: 44.875%;
            }

            &-9 {
                top: 190px;
                left: 43.6%;
            }
            &-10 {
                top: 296px;
                left: 79.25%;
            }
            &-11 {
                top: 357px;
                left: 22.75%;
            }
            &-12 {
                top: 457px;
                left: 84.25%;
            }
            
        }

        .info__text {

            position: absolute;
            background-color: #F8C63E;
            padding: 8px 15px;
            font-size: 12px;

            &::before {
                position: absolute;
                content: '';
                background-color: $red;
                width: 2px;
                height: 26px;

            }

            &-1 {
                top: 195px;
                left: 15.5%;

                &::before {
                    top: -26px;
                    left: 248px;
                }
            }

            &-2 {
                top: 375px;
                left: 41.75%;

                &::before {
                    top: -26px;
                    left: 0px;
                }
            }

            &-3 {
                top: 509px;
                left: 65.875%;

                &::before {
                    top: -26px;
                    left: 148px;
                }
            }

            &-4 {
                top: 206px;
                left: 60.87%;

                &::before {
                    top: -26px;
                    left: 189px;
                }
            }

            &-5 {
                top: 267px;
                left: 27.2%;

                &::before {
                    top: -26px;
                    left: 223px;
                }
            }

            &-6 {
                top: 395px;
                left: 13.375%;

                &::before {
                    top: -26px;
                    left: 0px;
                }
            }

            &-7 {
                top: 395px;
                left: 61%;

                &::before {
                    top: -26px;
                    left: 155px;
                }
            }

            &-8 {
                top: 495px;
                left: 21.5%;

                &::before {
                    top: -26px;
                    left: 199px;
                }
            }

            &-9 {
                top: 228px;
                left: 45.125%;
                &::before {
                    top: -26px;
                    left: 0px;
                }
            }
            &-10 {
                top: 334px;
                left: 49.1%;
                &::before {
                    top: -26px;
                    left: 253px;
                }
            }
            &-11 {
                top: 395px;
                left: 24.227%;
                &::before {
                    top: -26px;
                    left: 0px;
                }
            }
            &-12 {
                top: 495px;
                left: 57.475%;
                &::before {
                    top: -26px;
                    left: 226px;
                }
            }
        }
    }
}