.workflow {
    background-image: url('../img/desktop/advantages-bg.jpg');
    padding-bottom: 122px;

    .h2 {
        margin-bottom: 65px;
    }

    .p {
        margin-top: 46px;
    }
    .flamp {
        margin-top: 90px;
    }

    // .button {
    //     display: block;
    //     margin: 90px auto 0;
    // }
}