@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: #F2F6F7;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.h1 {
	font-size: 48px;
	font-weight: 900;
	line-height: 61px;
}

.h2 {
	font-size: 36px;
}

.h3 {
	font-size: 28px;
}

.p {
	font-size: 24px;
	line-height: 27px;
}

.button {
	width: 100%;
	height: 4.3164em;
	border: 1px solid transparent;
	border-radius: .35em;
	font-size: 18px;
	font-weight: bold;
	color: #F7F7F7;
	transition: all .15s ease-in-out;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
	&-red {
		background-color: #E52B2B;
		border-color: #E52B2B;

		&:hover {
		background-color: rgb(179, 4, 4);
		border-color: rgb(179, 4, 4);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.section-header {
	background-color: #F8C63E;
	padding-top: 25px;
	overflow: auto;
	margin-bottom: 94px;

	.h2 {
		position: relative;
		margin-bottom: 12px;
	}

	.decor-line {
		height: 6px;
		background-color: $red;
		width: 76.40983606557377%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 26px;
	}
}

.container-fluid {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

@import "_header.scss";
@import "_objects-map";
@import "_objects-logo";
@import "_cost";
@import "_services";
@import "_examples";
@import "_portfolio";
@import "_advantages";
@import "_workflow";
@import "_discount";
@import "_feedback";
@import "_footer";
@import "_modal";
@import "media"; // Always at the end
